.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 70px;
  width: 70px;
  margin-right: 25px;
  padding: 25px;
}

.botoneraArriba a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding-right: 10px;
}

.botoneraArriba a:hover,
.botonera a:hover {
  color: white;
}

.botonera li {
  float: left;
  list-style-type: none;
  margin-right: 20px;
}

.botonera {
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.botonera a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding-right: 10px;
}

.linea {
  background-color: rgb(41, 133, 128);
  width: 100%;
  border-style: inset;
  border-width: 0.2em;
}

header {
  background-color: rgb(233, 192, 192);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  background-color: bisque;
  background-size: 100%;
}

.contenedor {
  width: 100%;
  height: 100%;
}

.titulo {
  text-align: center;
  font-family: "Baloo 2";
  font-size: 40px;
  color: rgb(216, 66, 66);
  text-shadow: 1px 1px #fff;
}

.container-titulo {
  clear: both;
}

.container {
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: auto;
  padding: auto;
}

.container .card {
  width: 330px;
  height: 260px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  background-color: rgb(182, 81, 81);
}

.container .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img {
  width: 330px;
  height: 220px;
}

.container .card h4 {
  font-weight: 600;
}

.container .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

.container .card a {
  font-weight: 500;
  text-decoration: none;
  color: #ebeef0;
}

.title {
  text-align: center;
  font-size: 40px;
  color: #6a6a6a;
  margin-top: 100px;
  font-weight: 100;
  font-family: fantasy;
}

.medios {
  margin: 200px;
  margin-bottom: 30px;
  min-width: 250px;
}

.facebook {
  padding: auto;
  width: 40px;
  height: 40px;
}

.instagram {
  width: 40px;
  height: 40px;
}

.medios_pago img {
  width: 60px;
  height: 60px;
}

.medios_envio img {
  width: 60px;
  height: 60px;
}

ul {
  list-style-type: none;
}

.medios {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 300px;
}

.medios_pago {
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.medios_envio {
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.redes {
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.contacto {
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.tituloAnimales {
  display: block;
}

.containerAnimales {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  overflow: auto;
  flex-direction: row;
}

.animales {
  height: 400px;
  width: 400px;
  border-radius: 10%;
  border-style: double;
}

.granja {
  height: 400px;
  width: 400px;
  border-radius: 10%;
  border-style: double;
}

.encastre {
  height: 400px;
  width: 400px;
  border-radius: 10%;
  border-style: double;
}

.didacticos {
  height: 400px;
  width: 400px;
  border-radius: 10%;
  border-style: double;
}

.letras {
  height: 400px;
  width: 400px;
  border-radius: 10%;
  border-style: double;
}

.numeros {
  height: 400px;
  width: 400px;
  border-radius: 10%;
  border-style: double;
}

.set {
  height: 400px;
  width: 400px;
  border-radius: 10%;
  border-style: double;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
}
@media (max-width: 350px) {
  header {
    flex-direction: column;
  }
  .medios {
    flex-direction: column;
  }
}
@media (min-width: 980px) and (max-width: 1200px) {
  .medios {
    max-width: 700px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding: 0 35px;
    margin-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .medios {
    padding: 15px 20px 15px 20px;
    font-weight: normal;
    text-align: left;
    border-radius: 0;
    padding-top: 15px;
    display: none;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding: 0 35px;
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
  .medios {
    margin-top: 30px;
    padding: 15px 20px 15px 20px;
    font-weight: normal;
    text-align: left;
    border-radius: 0;
    padding-top: 15px;
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    display: block;
    margin-top: 10px;
    margin-left: 20px;
    padding-bottom: 30px;
    padding: 0 35px;
    margin-top: 10px;
    padding-bottom: 50px;
    height: 6em;
  }
}
@media (max-width: 480px) {
  .tweet_list {
    height: 10em;
  }
}/*# sourceMappingURL=style.css.map */