.tituloAnimales{
    display: block;
}
.containerAnimales {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    overflow: auto;
    flex-direction: row;
}

.animales{
    height: 400px;
    width: 400px;
    border-radius: 10%;
    border-style: double;
}
.granja{
    height: 400px;
    width: 400px;
    border-radius: 10%;
    border-style: double;
}