@media (max-width:350px){
    header{
        flex-direction: column;
    }
    .medios{
        flex-direction: column;
    }
}

@media (min-width: 980px) and (max-width: 1200px) {

    .medios {
        max-width: 700px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 30px;
        padding: 0 35px;
        margin-top: 10px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {

    .medios{
        padding: 15px 20px 15px 20px;
        font-weight: normal;
        text-align: left;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        padding-top: 15px;
        display: none;
        max-width: 500px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 30px;
        padding: 0 35px;
        margin-top: 10px;
    }
}
@media (max-width: 767px) {

    body {
        padding-left: 0;
        padding-right: 0;
    }


    .medios {
        margin-top: 30px;
        padding: 15px 20px 15px 20px;
        font-weight: normal;
        text-align: left;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        padding-top: 15px;
        display: none;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        display: block;
        margin-top: 10px;
        margin-left: 20px;
        padding-bottom: 30px;
        padding: 0 35px;
        margin-top: 10px;
        padding-bottom: 50px;
        height: 6em;
    }

}

@media (max-width: 480px) {

    .tweet_list {
        height: 10em;
    }

}